__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/
.DS_Store
backend/uploads/**
!backend/uploads/.gitkeep
!backend/uploads/templates/
!backend/uploads/templates/.gitkeep
backend/xmeme.db
backend/xmeme.db-*
*.db-journal
*.db-wal
*.db-shm

.pytest_cache/
.mypy_cache/
